  .navbar-brand {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
  }
  
  .nav-link {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
  }

  .log-in, .log-out {
    border-radius: 5px;
    border-style: solid;
    border-width: thin;
  }

  .log-in {
    border-color: rgb(78, 197, 78);
  }
  .log-out {
    border-color: rgb(248, 97, 97);
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
  }